.plan__container {
  width: 80%;
  margin: auto;
}

.plan__title {
  text-align: center;
  margin: 4rem auto;
}

.plan__title p {
  color: #777;
}

.plan__card {
  color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: all 200ms ease-in;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e204e;
}

.plan__card:hover {
  background-color: #0e204e;
}

.plan__amt {
  margin: 4rem;
}

.plan__amt h3 span {
  font-size: 34px;
  font-weight: 700;
}

.plan__reward {
  margin-bottom: 2rem;
}

@media screen and (max-width: 780px) {
  .plan__card {
    margin: 2rem;
  }
}
